{% extends 'questiontinder/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'questiontinder/css/wordcloud.css' %}">
{% endblock %}

{% block js %}

<!-- Resources -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="{% static 'questiontinder/js/d3.layout.cloud.min.js' %}"></script>
<!-- local -->
<script src="{% static 'questiontinder/js/utils.js' %}"></script>
<script src="{% static 'questiontinder/js/dummydata.js' %}"></script>
<script src="{% static 'questiontinder/js/wordcloud.js' %}"></script>
{% endblock %}


{% block main %}
{% csrf_token %}
<div id="topic-dropdown">
    <div>
        {{topic_dropdown.topic|as_crispy_field}}
    </div>
    <div class="text-right">
        <span id="text_plus" class="p-1 bg-white cursor-pointer noselect"><i class="far fa-plus-square"></i></span>
        <span id="text_minus" class="p-1 bg-white cursor-pointer noselect"><i class="far fa-minus-square"></i></span>
    </div>
    <div>
        <p id="fontsize-warning" class="invisible bg-white text-danger"><small>Not all words are displayed! Reduce font size.</small></p>
    </div>
</div>
<div id="wordcloud">
</div>
{% endblock %}