#wordcloud {
    width: 100vw;
    height: 100vh;
}

#topic-dropdown {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 2;
}

.cursor-pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }