#wordcloud {
    width: 100vw;
    height: 100vh;
}

#topic-dropdown {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 2;
}

#fontsize-warning {
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

.invisible {
    opacity: 0;
}